<nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-center align-items-center">
    <div class="text-white bg-dark">
        © 2022
        <a class="fw-bold text-reset text-decoration-none" href="http://www.uptc.edu.co/facultades/f_sogamoso/pregrado/sistemas/inf_general/index.html">UPTC - Sogamoso - Ingeniería de sistemas</a>
    </div>
</nav>