

<div class="login-form">
    <h2>LOGIN</h2>

    <form method="post">

        <input type="text" name="username" placeholder="User" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" class="btn btn-primary" >Sign in</button>
        <a href="http://localhost:8080/registrer">No esta Registrado. Registrese</a>
    </form>

    
</div>