<div class="container">

    <form class="row g-3 login-form" >
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" required>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Apellidos</label>
          <input type="text" class="form-control" id="lastname" required>
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">NIT</label>
          <input type="text" class="form-control" id="nit" >
        </div>
        
        
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="username" required>
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Cotraseña</label>
            <input type="password" class="form-control" id="password" required>
          </div>
        <div class="col-12">
          
            <button type="submit" class="btn btn-primary" onclick="enviar()" style="box-sizing: border-box;
            cursor: pointer; width:100%;
            ">Sign in</button>

          
          
        </div>
        <a href="http://localhost:8080/login">Log In</a>
      </form>
</div>