<nav class="navbar sticky-top navbar-dark bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">
            <img alt="Brand" src="https://i.imgur.com/XFShHfys.png" class="rounded">
          </a>
        </div>
        
        <a href="./login" class="btn btn-default">LOGIN</a>
            
            
       
    </div>
</nav>