<div class="contenedor">


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Accion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            
          </tr>
        </thead>
        <tbody id="tbodycitas">
          
        </tbody>
      </table>
</div>